.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-styles {
    background-color: #e76127;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;

    .modal-header {
      padding-inline: 20px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background-color: rgba(0, 0, 0, 0.2);

      span {
        cursor: pointer;
        font-size: 40px;
      }
    }

    .modal-text {
      text-align: center;
      padding-inline: 20px;
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
      column-gap: 20px;
      padding-bottom: 20px;
    }

  }
}

