:root {
    --main-color: #FFFFFF;
    --hover-color: #F26522;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

body {
    background: url("../img/background-img.png") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.header {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: flex-end;
}

.header-logo:hover .header-logo-img {
    display: none;
}

.header-logo:hover .header-logo-img-hover {
    display: block;
}

.header-logo:hover .header-logo-container * {
    color: var(--hover-color);
}

.header-logo-img {
    position: relative;
    bottom: 3px;
}

.header-logo-img-hover {
    position: relative;
    bottom: 3px;
    display: none;
}

.header-logo-container {
    margin-left: 8px;
}

.header-logo-title {
    font-weight: bold;
    font-size: 29px;
    color: var(--main-color);
}

.header-logo-subtitle {
    font-size: 18px;
    line-height: 18px;
    color: var(--main-color);
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header-contacts-email {
    font-size: 18px;
    color: var(--main-color);
}

.header-contacts-email:hover {
    color: var(--hover-color);
}

.header-contacts-phone {
    font-size: 18px;
    color: var(--main-color);
}

.header-contacts-phone:hover {
    color: var(--hover-color);
}

.wrapper {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 37px;
    column-gap: 61px;
}

.wrapper-item {
    width: 300px;
}

.wrapper-item-image-link:hover .wrapper-item-hover {
    bottom: 0;
}

.wrapper-item-image-link:hover + .wrapper-item-link {
    color: var(--hover-color);
}

.wrapper-item-image-link {
    overflow: hidden;
    position: relative;
    display: block;
}

.wrapper-item-img {
    width: 100%;
    height: 220px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-image-source: linear-gradient(white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

#shopping {
    background-image: url("../img/wrapper-shopping-img.png");
}

#sightseen {
    background-image: url("../img/wrapper-sightseen-img.png");
    margin-left: -2px;
}

#food {
    background-image: url("../img/wrapper-food-img.png");
}

#bars {
    background-image: url("../img/wrapper-bars-img.png");
}

#art {
    background-image: url("../img/wrapper-art-img.png");
}

#walking {
    background-image: url("../img/wrapper-walking-img.png");

}

.wrapper-item-link {
    display: block;
    font-size: 18px;
    color: var(--main-color);
    text-align: center;
    margin-top: 20px;
    transition: .5s;
}

.wrapper-item-link:hover {
    color: var(--hover-color);
}

.footer-text {
    font-size: 12px;
    color: var(--main-color);
    position: fixed;
    text-align: center;
    bottom: 15px;
    left: 0;
    right: 0;
}

.wrapper-item-hover {
    width: 98%;
    background: var(--hover-color);
    padding-left: 16px;
    position: absolute;
    bottom: -60px;
    transition: .5s;
    box-sizing: border-box;
    left: 4px;
}

.wrapper-item-hover-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8px;
    padding-bottom: 12px;
}

.wrapper-item-hover-text {
    font-size: 10px;
    color: var(--main-color);
    padding-top: 7px;
}

.wrapper-item-hover-price {
    font-size: 20px;
    color: var(--main-color);
}

.wrapper-item-hover-details {
    font-size: 14px;
    color: var(--main-color);
    position: absolute;
    right: 37px;
}

.wrapper-item-hover-details::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    transform: rotate(45deg);
    position: absolute;
    top: calc((100% - 8px) / 2);
    right: -20px;
}

