:root {
    --main-gradient: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.info {
    width: 1200px;
    margin: 150px auto;
}

.info-title {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-align: center;
    /*залить цвет текста в градиент*/
    -webkit-background-clip: text;
    background-image: var(--main-gradient);
    color: transparent;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 88px;
    background: #FFFFFF;
    box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
    border-radius: 10px;
    margin-top: 50px;
    padding: 50px;
}

.wrapper-item-title {
    font-size: 36px;
    line-height: 28px;
    color: #F7F7FA;
    background: var(--main-gradient);
    border-radius: 6px;
    padding: 22px;
    display: inline-block;
    margin-bottom: 48px;
}

.wrapper-item-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #031D5B;
    position: relative;
    margin-bottom: 50px;
}

.wrapper-item-subtitle::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 4px;
    background: var(--main-gradient);
    bottom: -29px;
    left: 0;
}

.wrapper-item-text {
    font-size: 16px;
    line-height: 28px;
    color: #3A3A44;
}