.shots {
  background-color: #f7f7f7;
  padding-top: rem(47);
  padding-bottom: rem(49);

  &__wrapper-title {
    @include flex(space-between);
    margin-bottom: rem(24);

    a {
      font-size: rem(13);
      line-height: rem(22);
      text-transform: uppercase;
      font-weight: bold;
      color: $text-color;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__wrapper-img {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    column-gap: rem(10);

    img {
      width: 100%;
    }
  }
}

@media (max-width: 940px) {
  .shots {
    &__wrapper-title {
      margin-bottom: rem(35);
    }

    &__wrapper-img {
      grid-template-columns: repeat(3, minmax(100px, 1fr));

      img {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 657px) {
  .shots {
    &__wrapper-img {
      grid-template-columns: repeat(2, minmax(100px, 1fr));

      img {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 373px) {
  .shots {
    padding-top: rem(38);
    padding-bottom: rem(42);

    &__wrapper-title {
      margin-bottom: rem(13);
    }

    &__wrapper-img {
      grid-template-columns: repeat(1, minmax(100px, 301px));

      img {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}


