:root {
    --main-color: #FFFFFF;
    --secondary-color: rgb(113, 118, 123);
    --header-color: rgb(214, 217, 219);
}

body {
    background-color: #000000;
}

.icon-size-small {
    width: 17px;
    height: 17px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 50px;
}

.header-menu-item {

    display: flex;
    align-items: center;
    margin-top: 20px;
}

.header-menu-item-icon {
    width: 30px;
}

.header-menu-item-text {
    font-size: 20px;
    font-weight: 700;
    color: var(--header-color);
    margin-left: 15px;
}

.main {
    border-inline: 1px solid var(--header-color);
}

.main-top {
    display: flex;
    flex-direction: column;
    color: var(--header-color);
}

.main-top-text {
    font-weight: 700;
    padding-left: 20px;
    padding-block: 20px;
    font-size: 20px;
}

.main-top-tabs {
    display: flex;
    padding-block: 5px;
}

.main-top-tab {
    width: 50%;
    text-align: center;
    font-weight: 700;
}


/*Card styles*/
.card {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px;
    border-top: 1px solid var(--header-color);
    color: var(--main-color);
    position: relative;
}

.user-info {
    display: flex;
    column-gap: 10px;
}

.name {
    font-weight: 700;
}

.email {
    color: var(--secondary-color);
}

.title {
    color: var(--secondary-color);
    font-weight: 700;
}

span {
    /*content: "\274C";*/
    position: absolute;
    right: 10px;
    cursor: pointer;
}