.lds-circle {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);

}

.lds-circle > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    background: #5d5959;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}