.posts{
    margin-top: rem(66);
    padding-bottom: rem(69);

    &__wrapper{
        margin-top: rem(24);
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        column-gap: rem(25);
        row-gap: rem(32)
    }

    &__article{
        @include flex(center, flex-start);
        gap: rem(20);

        img{
            max-width: rem(160)
        }

        div{
            h3{
                font-size: rem(16);
                line-height: rem(30);
                color: $text-color;
                margin-bottom: rem(1);
                font-weight: bold;
            }

            h4{
                font-size: rem(12);
                line-height: rem(20);
                color: #7C7C7C;
                margin-bottom: rem(13);
            }

            p{
                font-size: rem(14);
                line-height: rem(26);     
                color: #5C5C5C;           
            }
        }
    }
}

@media (max-width: 991px){
    .posts{
        margin-top: rem(56);
        padding-bottom: rem(60);

        &__wrapper{
            grid-template-columns: 1fr;
            grid-auto-flow: row;
        }

        &__article{
            justify-content: flex-start;
            p{
            max-width: rem(404);
            }
        } 
    }
}

@media (max-width: 767px){
    .posts{
        margin-top: rem(38);
        padding-bottom: rem(39.5);

        &__wrapper{
            margin-top: rem(23);
            row-gap: rem(28.5)
        }

        &__article{
            display: block;
            img{
                width: 100%;
                margin-bottom: rem(11);
            }

            div{

                h3{
                    font-size: rem(14);
                    margin-bottom: rem(-1);
                }

                h4{
                    font-size: rem(11);
                    margin-bottom: 0;
                }

                p{
                    display:none;
                }
            }
        } 
    }
}