:root {
    --main-color: #FFFFFF;
    --light-green: #3CB878;
    --dark-green: #01813F;
}

body {
    background-image: url("../images/background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.container {
    width: 324px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 79px;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

.header-company-title{
    font-weight: 700;
    font-size: 22px;
    color: var(--main-color);
    text-transform: uppercase;
    transition: .5s;
}

.header-company-title:hover {
    color: var(--light-green);
}

.header-nav-icon {
    cursor: pointer;
}

.header-nav-icon path {
    transition: .5s;
}

.header-nav-icon:hover path{
    fill: var(--light-green);;
}

.header-nav-text {
    padding-left: 27px;
    border-left: 1px solid var(--main-color);
    font-size: 14px;
    line-height: 19px;
    color: var(--main-color);
}

.header-nav-link {
    color: var(--main-color);
    transition: .5s;
}

.header-nav-link:hover {
    color: var(--light-green);
}

.signup-modal {
    width: 445px;
    height: 585px;
    position: absolute;
    top: calc((100% + 60px) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.signup-modal-square {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 29px;
    background-color: var(--light-green);
}

.signup-modal-header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 4px;
    margin-block: 31px;
}

.signup-modal-header-title {
    font-size: 20px;
    color: #434343;
}

.signup-modal-header-link {
    font-size: 14px;
    color: var(--light-green);
    justify-self: end;
    transition: .5s;
}

.signup-modal-header-link:hover {
    color: var(--dark-green);
}

.signup-modal-header-btn {
    display: flex;
    align-items: center;
    min-width: 160px;
    height: 48px;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    color: white;
    transition: .5s;
}

.signup-modal-header-btn .icon-wrapper {
    position: relative;
    width: 48px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-modal-header-btn .icon-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    height: 28px;
    width: 1px;
    background-color: rgba(10, 22, 47, 0.1);
}

.signup-modal-header-btn p {
    flex-grow: 1;
    text-align: center;
}

.blue {
    background-color: #305DB8;
}

.red {
    background-color: #DF4A32;
}

.blue:hover {
    background-color: #022263;
}

.red:hover {
    background-color: #AB1F09;
}

.text-line {
    position: relative;
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-bottom: 12px;
}

.text-line:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 152px;
    background: #F2F2F2;
    top: 50%;
    left: 0;
}

.text-line:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 152px;
    background: #F2F2F2;
    top: 50%;
    right: 0;
}

.signup-modal-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

.signup-modal-form-field {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    height: 45px;
    padding-left: 20px;
    font-size: 14px;
    color: #434343;
    box-sizing: border-box;
}

.signup-modal-form-field::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.signup-modal-form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: 1px;
    outline: none;
}

.signup-modal-form-field:last-of-type {
    font-size: 16px;
    color: var(--main-color);
    background: var(--light-green);
    border-radius: 4px;
    margin-top: 5px;
    padding-left: 0;
    transition: .5s;
}

.signup-modal-form-field:last-of-type:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

.signup-modal-form-field:last-of-type:hover {
    background-color: var(--dark-green);
}

.signup-modal-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #434343;
    position: relative;
}

.signup-modal-checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}

.checkmark img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.signup-modal-checkbox input[type="checkbox"]:checked + .checkmark img {
    display: block;
}

.signup-modal-checkbox span:last-of-type {
    margin-left: 10px;
}

.signup-modal-checkbox a {
    color: var(--light-green);
    transition: .5s;
}

.signup-modal-checkbox a:hover {
    color: var(--dark-green);
    text-decoration: underline;
}


