.nav {
  margin-top: 65px;
  margin-bottom: 60px;
  @include flex(space-between);

  &__header {
    padding: 2em 1.5em;
    border: 2px solid #F2F2F2;
    text-align: center;
  }

  &__title {
    font-size: rem(36);
    font-weight: 700;

    span {
      color: $primary-color;
    }
  }

  &__subtitle {
    font-size: rem(14);
    line-height: rem(21);
    letter-spacing: 0.215em;
    text-transform: uppercase;
  }
}


.menu {
  @include flex;

  &__list {
    @include flex;
    margin-right: 2.5em;

    &-item {
      font-size: rem(14);
      line-height: rem(21);
      text-transform: uppercase;
      margin-right: 40px;
    }

    &-link {
      color: #f2f2f2;
      transition: border .5s ease-in-out;
      display: inline-block;
      padding-bottom: 6px;
      text-decoration: none;

      &:hover {
        border-bottom: 4px solid #59253E;
      }
    }
  }

  &__wrapper-login,
  &__wrapper-signin {
    font-size: rem(14);
    line-height: rem(21);
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 7px;
  }

  &__wrapper-login {
    background-color: $primary-color;
  }

  &__wrapper-signin {
    border: 1px solid;
  }
  &__wrapper-links {
    @include flex
  }
}

.burger {
  @include flex;
  flex-direction: column;
  row-gap: 7px;
  min-width: 20px;
  display: none;
  &__line {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .menu {
    position: absolute;
    right: -800px;
    top: 5px;
    opacity: 0;
    pointer-events: none;
    transition: right .5s ease-in-out;
  }
}

.menu.active {
  opacity: 1;
  pointer-events: all;
  right: 0;
}