.container {
    width: 1170px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo-img {
    padding: 0 27px;
}

.menu-logo-title {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.menu {
    display: flex;
    column-gap: 35px;
}

.menu-item-link:hover {
    color: #14B9D5;
}

.menu-item-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .2s;
}

.menu-search {
    padding: 27px 26px;
    background: black;
}

.news {
    display: flex;
    flex-direction: column;
    background-image: url(../img/background/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 369px;
}

.news-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 164px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.news-buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 44px;
}

.button {
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
    border-radius: 4px;
}

#subscribe {
    background-color: #89CA62;
    padding: 17px 19px;
}

#best-articles {
    background-color: #14B9D5;
    padding: 17px 30px;
}

.post {
    text-align: center;
    background: #F2F2F2;
}

.section-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding-top: 49px;
    text-transform: uppercase;
    text-align: center;
}

.post-block {
    margin-top: 52px;
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.post-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    background: white;
}

.post-item-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 20px 0;
}

.clients {
    background-image: url(../img/background/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 588px;
    margin-bottom: 49px;
}

.clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    padding-top: 108px;
    color: #FFFFFF;
    text-align: center;
}

.clients-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 87px auto 107px;
    border: none;
}

.clients-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.top-rated-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 52px;
    justify-content: center;
}

.top-rated-content-img {
    width: 100%;
}

.hot-news-content {
    margin-top: 51px;
    width: 100%;
    display: grid;
    grid-template-areas:
"prophecy prophecy prophecy nebula"
"western western grand grand"
"wanderlust wanderlust twin twin"
"prism king king king";
    row-gap: 44px;
    column-gap: 60px;
}

.hot-news-item-img {
    width: 100%;
}

.hot-news-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-transform: capitalize;
    margin-top: 14px;
    text-align: right;
    padding-right: 13px;
}

.hot-news-item-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    padding: 0 13px;
    margin-top: 14px;
}

.hot-news-content-text {
    margin: auto;
}

.prophesy, .king {
    grid-area: prophecy;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nebula > h3, .prism > h3 {
    text-align: center;
}

.prophesy, .nebula, .western, .grand, .wanderlust, .twin, .prism, .king {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.nebula {
    grid-area: nebula;
}

.western {
    grid-area: western;
}

.grand {
    grid-area: grand;
}

.wanderlust {
    grid-area: wanderlust;
}

.twin {
    grid-area: twin;
}

.prism {
    grid-area: prism;
}

.king {
    grid-area: king;
}

.footer {
    background: black;
    margin-top: 77px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.footer-text {
    font-size: 13px;
    color: #FFFFFF;
    padding: 30px 0;
    text-align: left;
}

.logo-content {
    justify-self: end;
}

.footer-img {
    vertical-align: text-top;
}

.slide-top {
    font-size: 3em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #C1C1C1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.toggle-button {
    position: absolute;
    right: 0;
    background-color: #F2F2F2;
    cursor: pointer;
    font-size: 2em;
}