:root {
    --main-color: #FFFFFF;
    --hover-color: #F26522;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

body {
    background: url("../images/background-img.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.header-logo {
    display: flex;
    column-gap: 8px;
    position: relative;
    text-transform: uppercase;
}

.header-logo-img {
    transition: .3s;
}

.header-logo-img:last-of-type {
    position: absolute;
    opacity: 0;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--main-color);
    transition: .3s;
}

.header-logo-title {
    font-weight: 700;
    font-size: 29px;
}

.header-logo-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 12px;
}

.header-logo:hover .header-logo-img:last-of-type {
    opacity: 1;
}

.header-logo:hover .header-logo-container {
    color: var(--hover-color);
}

.header-contacts {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.header-contacts-email {
    color: var(--main-color);
    margin-bottom: 19px;
    transition: .3s;
}

.header-contacts-email:hover {
    color: var(--hover-color);
}

.header-contacts-phone {
    color: var(--main-color);
    text-align: end;
    transition: .3s;
}

.header-contacts-phone:hover {
    color: var(--hover-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 60px;
    grid-row-gap: 35px;
}

.wrapper-item {
    width: 300px;
    text-align: center;
}

.wrapper-item-image-link {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.wrapper-item-img {
    width: 100%;
    height: 220px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-image-source: linear-gradient(white, black);
    border-image-slice: 1;
    box-sizing: border-box;
}

#shopping {
    background-image: url("../images/wrapper-shopping-img.png");
}

#sightseeing {
    background-image: url("../images/wrapper-sightseen-img.png");

}

#food {
    background-image: url("../images/wrapper-food-img.png");
}

#bars {
    background-image: url("../images/wrapper-bars-img.png");
}

#art {
    background-image: url("../images/wrapper-art-img.png");
}

#walking {
    background-image: url("../images/wrapper-walking-img.png");
}

.wrapper-item-hover {
    position: absolute;
    bottom: -60px;
    left: 2px;
    width: 296px;
    height: 55px;
    padding-inline: 16px;
    padding-top: 7px;
    background-color: var(--hover-color);
    box-sizing: border-box;
    transition: .5s;
}

.wrapper-item-hover-text {
    font-size: 10px;
    color: var(--main-color);
    margin-bottom: 8px;
}

.wrapper-item-hover-container {
    display: flex;
    align-items: center;
}

.wrapper-item-hover-price {
    font-size: 20px;
    color: var(--main-color);
    margin-right: 128px;
}

.wrapper-item-hover-details {
    font-size: 14px;
    color: var(--main-color);
    position: relative;
}

.wrapper-item-hover-details::after {
    content: '';
    width: 6px;
    height: 6px;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    transform: rotate(45deg);
    position: absolute;
    right: -25px;
    top: calc((100% - 8px) / 2)
}

.wrapper-item-link {
    font-size: 18px;
    color: var(--main-color);
    transition: .5s;
}

.wrapper-item-image-link:hover .wrapper-item-hover {
    bottom: 0;
}

.wrapper-item-image-link:hover + .wrapper-item-link {
    color: var(--hover-color);
}

.wrapper-item-link:hover {
    color: var(--hover-color);
}

.footer-text {
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: var(--main-color);
    text-align: center;
}