.ticket {
    width: 1200px;
    margin: 150px auto;
    background-color: #f3f1c9;
    border: 2px solid black;
    border-radius: 1em;
    /* ff */
    font-family: sans-serif;
}

.ticket-wrapper {
    display: grid;
    grid-template-areas:
		'title title title title title'
		'passenger passenger passenger passenger platform'
		'depart depart arrive arrive platform'
		'date time car seat platform';
    /* p10 */
    padding: 10px;
    text-transform: uppercase;
}
.ticket-title {
    /* p10 */
    padding: 10px;
    /* fwb */
    font-weight: bold;
    /* fsz40 */
    font-size: 40px;
    /* bgc */
    background-color: black;
    color: #f3f1c9;
    /* ttu */
    grid-area: title;
}
.ticket-passenger {
    grid-area: passenger;
}
.ticket-depart {
    grid-area: depart;
}
.ticket-arrive {
    grid-area: arrive;
}
.ticket-date {
    grid-area: date;
}
.ticket-time {
    grid-area: time;
}
.ticket-car {
    grid-area: car;
}
.ticket-seat {
    grid-area: seat;
}
.ticket-platform {
    grid-area: platform;
    background-color: red;
    color: white;
}

.ticket-platform-wrapper{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.ticket-platform-text {
    font-size: 100px;
}

.ticket-platform-subtext {
    display: flex;
    flex-direction: column;
}

.ticket-platform-subtext span {
    font-size: 40px;
}

.ticket-platform-subtext span:first-child {
    border-bottom: 2px solid white;
}

.ticket-passenger,
.ticket-depart,
.ticket-arrive,
.ticket-date,
.ticket-time,
.ticket-car,
.ticket-seat,
.ticket-platform {
    border: 1px solid black;
    padding: 16px;
}

.ticket-wrapper h2 {
    font-size: 13px;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
}
