* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.hero {
    background-image: url(../images/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 528px;
    padding-bottom: 133px;
    color: white;

}

.hero-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
}

.hero-slogan {
    padding: 38px 31px;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    width: max-content;
}

.nav {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;

}

.section-title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 28px;
}

.section-subtitle {
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    margin-bottom: 48px;
}

.section-line {
    width: 60px;
    height: 3px;
    background: #F48E0B;
    margin: 0 auto 57px;
    border: none;
}

.menu {
    text-align: left;
    border-bottom: 2px solid #F48E0B;
    padding-bottom: 22px;
}

.menu-list {
    display: inline-block;
}

.menu-logo-title {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 190px;
    color: #F48E0B;
}

.menu-list-item {
    display: inline-block;
    margin-left: 69px;
}

.menu-list-link {
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
    transition: 500ms;
}
.menu-list-link:hover {
    color: #F48E0B;
}

.aboutUs {
    text-align: center;
    margin-bottom: 120px;
}

.aboutUs-wraper {
    display: flex;
    justify-content: space-between;
}

.aboutUs-portfolio {
    width: calc(50% - 15px);
    display: flex;
    flex-wrap: wrap;
    row-gap: 22px;
    column-gap: 30px;
}

.aboutUs-portfolio-img img {
    width: 100%;
}

.aboutUs-info {
    width: calc(50% - 15px);
    text-align: left;
}

.aboutUs-info-title {
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}

.aboutUs-info-title span {
    color: #F48E0B;
}

.aboutUs-info-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    margin-bottom: 20px;
}

.aboutUs-info-link {
    display: inline-block;
    text-transform: capitalize;
    background: #F48E0B;
    padding: 19px 27px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.team {
    text-align: center;
    margin-bottom: 120px;
}

.team-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.team-wraper-img img {
    width: 100%;
}

.goods-section {
    text-align: center;
    margin-bottom: 120px;
}

.item-img {
    margin-bottom: 7px;
}

.item-head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item-head-img {
    background: #333;
    padding: 11px;
    margin-right: 8px;
}

.item-head-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
    margin-bottom: 14px;
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 14px;

}

.item-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #333333;
    padding-bottom: 5px;
}

.item-info-date,
.item-info-link {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #828282;
}

.goods {
    display: flex;
    flex-direction: column;
    height: 900px;
    flex-wrap: wrap;
}

.goods-item {
    width: 370px;
    margin-bottom: 30px;
}

.works {
    margin-top: 120px;
    margin-bottom: 120px;
}

.works-list {
    display: flex;
    justify-content: center;
    column-gap: 14px;
    margin-bottom: 44px;
}

.list-item {
    font-weight: 300;
    font-size: 14px;
    color: #111111;
    text-transform: capitalize;
    padding: 14px 41px;
    border: 1px solid black;
    transition: .2s;
}

.list-item:hover {
    background: #333333;
    color: #F1AD1D;
}

.works-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.content-item {
    overflow: hidden;
    position: relative;
}

.content-hover {
    width: 100%;
    background: white;
    position: absolute;
    top: -400px;
    left: 0;
    border: 1px solid black;
    transition: .5s;
}

.content-item:hover .content-hover {
    top: 0;
}
