body, html {
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #fbcf00;
    background-color: #000;
    overflow: hidden;
    font-family: sans-serif;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

@keyframes logo {
    0% { transform: scale(2); opacity: 1; }
    20% { transform: scale(0.1); opacity: 0; }
    100% { transform: scale(0); opacity: 0; }
}

h1
{
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 25%;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #fbcf00, 2px -2px 0 #fbcf00, -2px 2px 0 #fbcf00, 2px 2px 0 #fbcf00;
    opacity: 1;
    animation: logo 30s ease-out infinite;
}

.titles {
    position: absolute;
    width: 90%;
    height: 200%;
    bottom: 0;
    left: 5%;
    font-size: 400%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(18deg) scaleY(3);
}

.titles-content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 5s infinite;
}

p {
    text-align: justify;
    margin-top: 1em;
}

p:first-child, p:nth-child(2) {
    margin-top: 0.5em;
    text-align: center;
}

p:nth-child(3) {
    text-align: initial;
}