@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}


.container {
  max-width: 1202px;
  margin: 0 auto;
  position: relative;
  padding-inline: rem(16);

  @media (max-width: 991px) {
    max-width: 800px;
  }

  @media (max-width: 373px) {
    max-width: 352px;
  }
}

.section-title {
  font-size: rem(16);
  line-height: rem(22);
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color;

  &--footer {
    color: #FEFEFE;
    text-align: center;
  }

  @media (max-width: 373px) {
    font-size: rem(14);
  }
}

@import './sections/main';
