:root {
    --main-color: #FFFFFF;
    --hover-color-header: #3CB878;
    --hover-color-modal: #01813F;
    --hover-transition: .3s;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    background: url("../img/background-img.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 324px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-inline: 79px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
    font-weight: bold;
    font-size: 22px;
    color: var(--main-color);
    transition: var(--hover-transition);
}

.header-title:hover {
    color: var(--hover-color-header);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    align-items: center;
}

.header-nav-icon path{
    transition: var(--hover-transition);
}

.header-nav-icon:hover path{
    fill: var(--hover-color-header);
}

.header-nav-text {
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    color: var(--main-color);
}

.header-nav-link {
    color: var(--main-color);
    transition: var(--hover-transition);
}

.header-nav-link:hover {
    color: var(--hover-color-header);
}

.signup-modal {
    width: 444px;
    height: 584px;
    position: absolute;
    top: calc(50% + 29px);
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-color);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.signup-modal-square {
    position: absolute;
    left: 0;
    top: 29px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.signup-modal-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    justify-content: space-between;
    padding-top: 31px;
}

.signup-modal-title {
    font-size: 20px;
    justify-content: start;
    align-items: center;
    color: #434343;
}

.signup-modal-link {
    justify-self: end;
    font-size: 14px;
    color: #3CB878;
    transition: var(--hover-transition);
}

.signup-modal-link:hover {
    color: var(--hover-color-modal);
    text-decoration: underline var(--hover-color-modal);
}

.signup-modal-button {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 3px;
    transition: var(--hover-transition);
}

.signup-modal-button-img {
    text-align: center;
}

#facebook-button:hover {
    background: #022263;
}

#google-button:hover {
    background: #AB1F09;
}

#facebook-icon {
    padding-left: 17px;
}

#google-icon {
    padding-left: 12px;
}

.signup-modal-button-line {
    content: "";
    position: absolute;
    right: 110px;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
}

.signup-modal-button-text {
    color: var(--main-color);
    text-align: center;
    width: 111px;
}

#facebook-button {
    background: #305DB8;
}

#google-button {
    background: #DF4A32;
}

.signup-modal-text {
    position: relative;
    text-align: center;
    margin-top: 31px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.signup-modal-text::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 152px;
    background: #F2F2F2;
    top: 50%;
    left: 0;
}

.signup-modal-text::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 152px;
    background: #F2F2F2;
    top: 50%;
    right: 0;
}

.signup-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12px;
    gap: 15px;
}

.signup-form-field {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    height: 44px;
    padding-left: 20px;
    font-size: 14px;
    color: #434343;
}

.signup-form-field::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.signup-form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: none;
    outline: none;
}

.app-checkbox {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 14px;
    color: #434343;
}

.app-checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.app-checkbox input[type="checkbox"] + .check-icon {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.app-checkbox input[type="checkbox"] + .check-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.app-checkbox input[type="checkbox"]:checked + .check-icon img {
    display: block;
}

.app-checkbox a {
    position: relative;
    z-index: 2;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: var(--hover-transition);
}

.app-checkbox a:hover {
    color: var(--hover-color-modal);
    text-decoration: underline var(--hover-color-modal);
}

.signup-form-submit {
    font-size: 16px;
    color: var(--main-color);
    background: rgba(60, 184, 120, 0.8);
    transition: var(--hover-transition);
}

.signup-form-submit:hover {
    background: var(--hover-color-modal);
}