body {
    font-family: sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25.5px;
    column-gap: 72px;
    row-gap: 25.5px;
}

.menu-item {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.menu-item-link {
    color: #FF0000;
}

.header-image {
    width: 100%;
}

.content {
    text-align: center;
    margin: 0 67.5px;
}

.content-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 49px 0 38px;
}

.content-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

p:nth-child(2) {
    margin-bottom: 28px;
}

.button {
    display: inline-block;
    background: #FF0000;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 43px;
    margin-top: 66px;
}

.footer {
    margin: 82px 105px 29px;
    display: flex;
    justify-content: right;
}

.footer-content {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}

