.parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.parallax__elem {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 30px;
    padding: 70vh 0;
}

.parallax__elem_1 {
    transform: translateZ(0);
}

.parallax__elem_2 {
    transform: translateZ(-1px);
}

.parallax__elem_3 {
    transform: translateZ(-2px);
}
