.container {
    width: 765px;
    margin: 0 auto;
}

.header-title{
    font-size: 48px;
    line-height: 57px;
    margin-top: 120px;
    text-align: center;
}

.content-item {
    text-align: center;
}

.content-text {
    position: relative;
}

.content-text::before {
    content: "";
    display: block;
    width: 35px;
    height: 1px;
    background: #0D1C41;
    left: 370px;
    top: 8px;
    border: none;
    position: absolute;
}

.content-text::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #323232;
    border-right: 1px solid #323232;
    margin-right: 60px;
    transform: rotate(135deg);
    position: absolute;
    top: calc((100% - 5px) / 2);

    right: 340px;
}

.content-hover {
    width: 100%;
    background: white;
    position: absolute;
    opacity: 0;
    border: 1px solid black;
    transition: .5s;
    text-align: center;
}

.content-item:hover + .content-hover {
    opacity: 1;
}

