:root {
    --main-color: #424F57;
    --secondary-color: #14AFCA;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.bottom-angled::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 85px 0 0 50vw;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bottom-angled::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 85px 50vw;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

.top-angled::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 85px 50vw 0 50vw;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    bottom: 0;
}

.section {
    background-color: #fff;
    position: relative;
    padding-bottom: 90px;
    box-sizing: border-box;
}

.section-title {
    padding-top: 125px;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.section-subtitle {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
}

.section-text {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: var(--main-color);
}

.header {
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/header-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 25px;
    position: relative;
}

.header-wrapper {
    background-color: #fff;
    margin-bottom: 150px;
}

.header-nav {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-nav-company-name {
    font-weight: 300;
    font-size: 36px;
    color: var(--main-color);
}

.header-nav-company-name span {
    text-transform: uppercase;
    color: var(--secondary-color);
}

.header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-nav-wrapper-item {
    text-transform: uppercase;
}

.header-nav-wrapper-item:hover a{
    color: var(--secondary-color);
}

.header-text {
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.company {
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/company-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.company .section-subtitle {
    color: #FFFFFF;
}

.company .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 65px;
    row-gap: 150px;
    flex-wrap: wrap;
    padding-top: 45px;
}

.meet-us .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 55px;
}

.meet-us .img-wrapper-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
}

.meet-us p {
    font-size: 15px;
    line-height: 28px;
    color: var(--main-color);
}

.testimonials {
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/testimonials.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonials .section-subtitle {
    color: #FFFFFF;
}

.testimonials .section-text {
    color: #FFFFFF;
}