body {
    background-color: #171717;
    font-family: sans-serif;
}

.container {
    width: 1465px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.header {
    margin-top: 46px;
    margin-bottom: 120px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-call-wrapper {
    display: flex;
    align-items: center;
    column-gap: 39px;
    font-size: 18px;
    line-height: 30px;
}

.header-link {
    color: #E4B564;
}

.header-link span {
    color: #FFFFFF;
}

.header-call-button {
    align-items: center;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
}

.header-call-button svg {
    margin-right: 10px;
}

.about-us .section-title {
    margin-bottom: 40px;
}

.section-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}


.about-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas:
            "item1 item1 item2 item2 item3 item3"
            "item4 item4 item4 item5 item5 item5";
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}

.about-us-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 468px;
}

.about-us .item1 {
    grid-area: item1;
    background: #634F2C;
}

.about-us .item2 {
    grid-area: item2;
    background: #B4A385;
}

.about-us .item3 {
    grid-area: item3;
    background: #E4B564;
}

.about-us .item4 {
    grid-area: item4;
    background: #635A4A;
}

.about-us .item5 {
    grid-area: item5;
    background: #B08C4D;
}

.about-us-grid-item-text {
    margin-inline: 45px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.auto-park {
    padding-bottom: 191px;
}

.auto-park .section-title {
    margin-bottom: 95px;
}

.auto-park-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    height: 900px;
}

.auto-park-wrapper-item {
    width: 465px;
}

.auto-park-wrapper .auto1 {
    background-color: #0E0E0E;
    height: 310px;
}

.auto-park-wrapper .auto2 {
    background-color: #1F1F1F;
    height: 560px;
}

.auto-park-wrapper .auto3 {
    background-color: #242424;
    height: 405px;
}

.auto-park-wrapper .auto4 {
    background-color: #E4B564;
    height: 439px;
}

.auto-park-wrapper .auto5 {
    background-color: #1F1F1F;
    height: 255px;
}

.auto-park-wrapper .auto6 {
    background-color: #0E0E0E;
    height: 310px;
}

.auto-park-wrapper .auto7 {
    background-color: #0A0909;
    height: 275px;
}

.auto-park-wrapper-item-text {
    color: #FFFFFF;
    margin-left: 50px;
}

.auto-park-wrapper-item-text:first-of-type {
    margin-top: 45px;
}

.auto-park-wrapper-item-text:last-of-type {
    font-weight: 700;
    line-height: 32px;
}

.clients {
    background: #0E0E0E;
    padding-top: 172px;
}

.clients-header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 72px;
}

.clients-projects-button {
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.clients-wrapper {
    display: grid;
    grid-template-rows:repeat(2, 390px);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 240px;
}

.clients-wrapper-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
}

.clients-wrapper-item img:last-of-type {
    margin-bottom: 16px;
}

.clients-wrapper-item p {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-inline: 80px;
}

.clients-wrapper-item p:last-of-type {
    font-weight: 400;
}

.clients-wrapper .client2 {
    flex-direction: column;
    background: rgba(232, 210, 171, 0.76);
}

.clients-wrapper .client3 {
    background: #E4B564;
}

.clients-wrapper .client4 {
    background: #635A4A;
}

.clients-wrapper .client5 {
    background: #B08C4D;
}

.clients-wrapper .client6 {
    background: #634F2C;
}