.container {
    width: 1280px;
    margin: 0 100px;
    font-family: sans-serif;
}

.header {
    text-align: left;
}

.header-title {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 38px;
}

.header-title-link-color {
    color: #35b0ff;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    margin-bottom: 48px;
}

.header-menu-item {
    font-size: 24px;
    line-height: 28px;
    padding: 26px 35px 19px;
    border-left: 1px solid white;
    transition: .2s;
}

.header-menu li:last-child {
    border-right: 1px solid white;
}

.header-menu-item:hover {
    background: #222F3A;
}

.header-menu-item-link {
    color: #FFFFFF;
}

.section-side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
    width: 344px;
}

.section-side-menu-item {
    padding: 26px 0 26px 44px;
    transition: .2s;
}

.section-side-menu-item:hover {
    padding-left: 88px;
    background: #DBDBDB;
}

.section-side-menu-item-link {
    font-size: 27px;
    color: #485863;
}

.content-wrapper-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}

.content-image {
    padding: 75px 0;
    transition: .5s;
}

.content-image:hover {
    transform: scale(1.3);
}

.main-section {
    display: flex;
    column-gap: 52px;
    margin-bottom: 54px;
}

.main-section-content {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.content-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    column-gap: 35px;
}

.footer-menu-item {
    padding: 20px 0;
}

.footer-menu-link:hover {
    color: #019acb;
    border-bottom: 1px solid #019acb;
}

.footer-menu-link {
    font-size: 28px;
    color: #0C1927;
    transition: .2s;
}

.footer-copyright {
    font-size: 24px;
    color: #010101;
}