.container {
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.header-link {
    display: inline-block;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
    margin-block: 63px 38px;
}

.header-link span {
    color: #000000;
}

.header-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-bottom: 49px;
}

.header-menu-link {
    border-left: 1px solid #FFFFFF;
    padding: 26px 40px 19px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    transition: .3s;
}
.header-menu-link:hover {
    background-color: #222F3A;
}

.header-menu-link:last-of-type {
    border-right: 1px solid #FFFFFF;
}

.main {
    display: flex;
    align-items: flex-start;
    column-gap: 52px;
    margin-bottom: 54px;
}

.main-left-nav {
    display: flex;
    flex-direction: column;
    flex: 0 0 344px;
    border: 1px solid #000000;
}

.main-left-nav-item {
    padding: 26px 0 26px 44px;
    cursor: pointer;
    transition: .3s;
    font-size: 27px;
    color: #485863;
}

.main-left-nav-item:hover {
    background: #DBDBDB;
    padding-left: 88px;
    color: #35444F;
}

.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 37px;
}

.main-content-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}

.main-content-img {
    padding: 75px 0;
    transition: .3s;
}

.main-content-img:hover {
    transform: scale(1.3);
}

.main-content-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.footer-menu-item {
    padding: 20px 0;
}

.footer-menu-link {
    font-size: 28px;
    color: #0C1927;
    transition: .3s;
}

.footer-menu-link:hover {
    color: #019acb;
    border-bottom: 1px solid #019acb;
}

.footer-copyright {
    font-size: 24px;
    color: #010101;
}
