* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.booking {
    width: 525px;
    margin: 0 auto;
}

.booking-title {
    font-size: 33px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

.booking-title::after {
    content: "";
    display: block;
    width: 57px;
    height: 5px;
    background: #E8C300;
    border-radius: 4px;
    position: absolute;
    left: calc((100% - 57px) / 2);
}

.booking-form {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;

}

.booking-form-field {
    width: 100%;
    padding: 25px 15px;
    background: #E5E5E5;
    border-radius: 4px;
    border: none;
    outline: none;
}

.booking-form-field::placeholder {
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.booking-form-field:focus {
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);;
}

.booking-form-submit {
    text-transform: uppercase;
    border-radius: 4px;
    background: #E8C300;
    border: none;
    padding-block: 20px;
    color: white;
    grid-column: 1/-1;
}