* { padding: 0; margin: 0; }

body, html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: 700;
    color: wheat;
    background-color: #000;
}


@keyframes logo {
    0% { transform:translate(-50%, -50%) scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { transform:translate(-50%, -50%) scale(0.1); opacity: 0; }
}

h1
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    text-align: center;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: yellowgreen;
    text-shadow: -3px -3px 0 white, 3px -3px 0 grey, -3px 3px 0 #5d938e, 3px 3px 0 #3e5f9d;
    opacity: 0;
    z-index: 1;
    animation: logo 5s ease-out;
}

h1 sub
{
    display: block;
    font-size: 0.3em;
    letter-spacing: 0;
    line-height: 0.8em;
}
